@import 'variables';

.button_8 {
    font-weight: bold;
    width: auto;
    background-color: $primary-color-light;
    border-radius: 3px;
    border:none;
    cursor: pointer;
    padding: 4px .4em;
    text-align: center;
    margin:3px;
    &:hover,
    :focus {
        background-color: white;
    }
    &:active{
        background-color: $primary-color-dark;
    }
}