@import 'variables';

.button_8 {
    font-weight: bold;
    width: auto;
    background-color: $main-color;
    cursor: pointer;
    padding: 4px .4em;
    text-align: center;
    margin: 3px;
    border-radius: .675rem;
    border:1px solid $accent-color;
    position: relative;
    &:hover {
        transform: scale(1.05);
        background-color: rgba($accent-color,0.7);
        color:$main-color;
    }

    &:hover:active {
        transform: scale(1.05) translateY(.125rem);
    }
}