@import 'variables';

.button_8 {
    font-weight: bold;
    width: auto;
    color:$secondary-color;
    background-color: $main-color;
    cursor: pointer;
    padding: 4px .4em;
    text-align: center;
    margin: 3px;
    border-radius: .675rem;
    position: relative;
    &:hover {
        transform: scale(1.05);
        background-color: $accent-color;
        color:$main-color;
    }

    &:hover:active {
        transform: scale(1.05) translateY(.125rem);
    }
}