@import 'variables';
.event_form {
   
    width:180px;
    align-items: center;
}
.habit_form{
    width: 220px;
    @include tile;
}
form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100px;
}

.date {
    font-size: 14px;
    margin-bottom: 3px;
}

.unit {
    width: 50px;
    margin-right: 5px;
    height:fit-content;
}

textarea {
    width: 160px;
    padding:5px;
    height: 80px;
    resize: none;
    background-color: $primary_color_light;
    border:none;
    border-radius: 5%;

    &:focus{
        outline:none
    }
}
.project{
    width: 160px;
    margin-bottom:1px;
    text-align: center;
}
.measurement {
    display: flex;
    margin-bottom: 5px;
}
