.form {
    margin:100px 120px 0 0;

    form {
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 100px;
    }
    textarea{
        width:160px;
        height:40px;
        resize: none;
    }
    input{
        width: 50px;
        margin-right:5px;
    }

    .measurement{
        display:flex;
        margin-bottom: 5px;
    }
    .button_8 {
        width: auto;
        background-color: #e1ecf4;
        border-radius: 3px;
        border: 1px solid #7aa7c7;
        box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset; 
        color: #39739d;
        cursor: pointer;
        padding: 4px .4em;
        text-align: center;

        &:hover,
        :focus {
            background-color: #b3d3ea;
            color: #2c5777;
        }

        &:active {
            background-color: #a0c7e4;
            box-shadow: none;
            color: #2c5777;
        }
    }
}