@import 'variables';
.heatmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tile;
    .row {
        display: flex;
    }

    .title {
        align-self: flex-start;
        margin-left: 12rem;

        h3 {
            margin-bottom: 0px;
        }
    }

    .container {
        display: flex;
        align-items: center;
    }
    .year_selector{
        margin-bottom:3px;
        .arrow{
            margin: 0 5px ;
            cursor: pointer;
            font-weight: bold;
        }
    }

    .list {
        display: grid;
        grid-gap: 4px;
        grid-template-rows: repeat(7, auto);
        grid-auto-flow: column;
        .item {
            height: 10px;
            width: 10px;
        }

        .color0 {
            background-color: #ffffff;
        }

        .color1 {
            background-color: #d4e6f4;
        }

        .color2 {
            background-color: #a9ceea;
        }

        .color3 {
            background-color: #7eb6e0;
        }

        .color4 {
            background-color: #539ed6;
        }

        .color5 {
            background-color: #2986cc;
        }

        .defaultColor {
            background-color: #205377;
        }
    }
}