@import 'variables';
.heatmap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tile;
    
    .row {
        display: flex; 
    }

    .title {
        h3 {
            position: absolute;
            top: -15px;
            left: 204px;
        }
        span{
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            &:hover{
                color:$accent-color;
                transform: scale(1.1);
            }
        }
        
    }

    .container {
        display: flex;
        align-items: center;
    }
    .year_selector{
        margin-bottom:3px;
        .arrow{
            margin: 0 5px ;
            cursor: pointer;
            &:hover{
                color:$accent-color;
                font-weight: bold;
            }
        }
    }

    .list {
        display: grid;
        grid-gap: 4px;
        grid-template-rows: repeat(7, auto);
        grid-auto-flow: column;
        .item {
            height: 10px;
            width: 10px;
            background-color: $main-color;
        }
    }
}