@import 'variables';

.homepage { 
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .container {
        display: flex;
        flex-direction: column;
    }

    .refresh_btn {
        width: 30px;
        height:30px;
        border: 0px;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        font-size:20px;
        transition: background-color 250ms ease-in;
        background-color: $secondary-color;
        
        &:hover,:active,
        :focus {
            background-color: $accent-color;
            color:$main-color;
            transition: background-color 250ms ease-in;
        }
        &:active {
            transform: rotate(360deg);
            transition: transform 250ms;
        }
 
    }
}