.homepage {
    
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: rgb(18, 96, 170)
    }

    .refresh_btn {
        width: auto;
        border: 0px;
        background-color: transparent;
        border-radius: 100%;
        cursor: pointer;
        padding: 4px .4em;
        text-align: center;
        font-weight: bold;
        font-size:20px;
        transition: background-color 250ms ease-in;

        &:hover,
        :focus {
            background-color: #b3d3ea;
            color: #2c5777;
            transition: background-color 250ms ease-in;
        }
    
        &:active {
            background-color: #a0c7e4;
            box-shadow: none;
            color: #2c5777;
        }
    }
}