@import 'variables';
.switch{
  display:flex;
  align-items: center;
}
.ts-input {
    visibility: hidden;
}

.ts-input:checked~label:after {
    left: 20px;
}

.ts-helper {
    position: relative;
    display: block;
    height: 15px;
    width: 32px;
    background: $secondary-color;
    border-radius: 100px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .ts-helper:after {
    position: absolute;
    left: -6px;
    top: -3px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #fafafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .28);
    content: '';
    transition: all 0.3s ease;
  }
  
 
