@import 'variables';
.tooltip {
    position: relative;
    display: inline-block;
    font-family: Arial;

    &::after {
        visibility: hidden;
        content: " ";
        position: absolute;
        bottom: 60%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $accent-color transparent  transparent transparent;
    }

    .bubble_container {
        visibility: hidden;
        position: absolute;
        z-index: 2;
        color: $main-color;
        font-size: 12px;
        background-color: rgba($accent-color,0.9);
        border-radius: 10px;
        padding: 10px 15px;
        white-space: pre-line;
        text-align: center;
        width: max-content;
        max-width: 500px;
        max-height: 150px;
        overflow-y: auto;
        text-overflow: ellipsis;
        height:auto;
        margin-bottom:5px;
        padding-bottom:5px;
        left: 50%;
        transform: translateX(-50%);

        &::before {
            content: "";
            position: absolute;
            transform: rotate(45deg);
            background-color: rgba($accent-color,0.9);
            z-index: 1;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        } 
    }
    &:hover{
        outline:3px solid $accent-color;
        cursor:pointer;
       
    }

    &:hover .bubble_container {
        transition-delay: 0.3s;
        visibility: visible;
        opacity: 1;
        bottom: 10px;
        
    }

    &:hover::after{
        transition-delay: 0.3s;
        visibility: visible;
        opacity: 1;
        
    }
}