$main-color:#000000;
$secondary-color:#3f404d;
$accent-color: #325973;

@mixin tile{
    background-color:$secondary-color;
    margin:5px;
    padding:15px;
    border-radius: 15px;
}

@mixin big_font{
    font-size:16px;
    font-weight: bold;
    text-align: center;
}