@import 'home';
@import 'heatmap';
@import 'tooltip';
@import 'switchButton';
@import 'form';
@import 'button';
@import 'variables';

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, $primary-color 0%, #bfd3ee 100%);
}

input {
  background-color: $primary-color;
  border: 0px;
  border-bottom: solid 1px black;
  outline: none;

}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;

}